* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 402px;
  height: 402px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  border: 1px solid #000;
}
.container__item {
  width: 100px;
  height: 100px;
  text-align: center;
  font: 50px/100px Arial, sans-serif;
  cursor: pointer;
  border: 1px solid #000;
  float: left;
  position: relative;
}
.container__item:hover {
  background: #e6e6e6;
}
